.decideButtonBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #242526;
    padding: 12px 12px;
    border-radius: 15px;
    margin-left: 20px;

    .button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        padding: 12px;
    }
}
