.searchBar {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;

    .searchInput {
        border-radius: 10px;
        height: 40px;
    }

    .searchButton {
        border-radius: 10px;
        height: 40px;
        width: 40px;
        padding: 12px;
        margin: 0 7px 0 27px;
    }
}
