.topicItem {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #242526;
    transition: 250ms;
    &:hover {
        background-color: #3b3a3c;
    }

    .userInfo {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 10px;

        .adminUsername {
            color: #ebeb73;
            font-weight: bold;
        }
    }
}

.topicItem.topicDeleted {
    background-color: #943b3b;
    &:hover {
        background-color: #ad6363;
    }
}
