.commentItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #18191A;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 10px;

    .userInfo {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .adminUsername {
            color: #ebeb73;
            font-weight: bold;
        }
    }

    .text {
        width: 100%;
        text-align: left;
        padding-bottom: 5px;
    }

    .buttonBox {
        display: flex;
        gap: 10px;
        .button {
            padding: 0 15px;
        }
        &.disabled {
            display: none;
        }
    }
}

.commentItem.commentDeleted {
    background-color: #943b3b;
}
